
/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) **/
._jsPlumb_drag_select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none
}


/** PAGE STRUCTURE **/


.assemblyweb-map {
	padding:0;
    margin:0;    
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;    
    background-color:#eaedef;
  	position: relative;
  	width:100%;
  	background-color:  #f1f1f1;
  	height:763px;
  	overflow:auto;  
  	margin-top:35px;
  	margin-bottom:25px;
}



#render a {
    margin-right:10px;
}

.selected {
	color:orange !important;
}

.service-unit{
  margin-bottom: 70px;
}

.service-unit, 
.connector, 
.label { 
    text-align:center;
    z-index:24;
	cursor:pointer;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa; 
}

path, ._jsPlumb_endpoint { cursor:pointer; }

/*
.label {
  font-size:13px; 
  padding:8px;
  padding:8px;
}
*/

.component { 
  border:1px solid #346789; 
  border-radius:0.5em !important;        
  opacity:0.8; 
  filter:alpha(opacity=80);
  background-color:white;
  color:black;
  padding:0.5em;   
  font-size:0.8em;
}

.component:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

.connector {
    background-color:white;
    border:1px solid #62CBC0;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em !important;
    border-radius:0.5em !important;        
    height:3  em;      
    position:absolute;    
    color:#828282;
    padding:0.5em;
    white-space: nowrap;
     line-height: 20px; 
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.bpel {
    background-color:white;
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em !important;
    border-radius:0.5em !important;            
    position:absolute;    
    color:black;
    padding:0.5em;
    min-width:80px; 
    min-height:80px;
    line-height: 24px;     
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}


.service-unit:hover,
.connector:hover,
 {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

.service-unit:hover a,
.connector:hover a,{
    font-family:helvetica;
}

/** Z-INDEX **/

._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:20; }


.aLabel {
  background-color:white; 
  padding:0.4em; 
  font:12px sans-serif; 
  color:#444;
  z-index:21;
  border:1px dotted gray;
  opacity:0.8;
  filter:alpha(opacity=80);
  cursor: pointer;
}
.aLabel._jsPlumb_hover {
  background-color:#5C96BC;
  color:white;  
  border:1px solid white;
}


/* ---------------------- bootstrap dropdowns ------------------------- */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.process{
  display: inline;
  clear: both;
}


.process-label{
  clear: both;
  color: #EB0C16;
  text-decoration: none;
  line-height: 20px;
  font-size: 1.15em;
  padding-top: 10px;
  letter-spacing: 0.02em;
}

.toolsbox{
	width: 75px;
	background-color: black;
	position: absolute;
	left: 10px;
	opacity: 0.75
}

.toolsbox-item{
	margin:20px;
}


.ineps,
.outeps{
  line-height: 19px;
  margin-left:10px;
  margin-right:10px;
  color: #474646;
}

.ineps{
	float:left;
	text-align:left;
}


.outeps{
	float:right;
	text-align:right;
}

.webassembly-map {
  /*background-color: red;*/
}

.webassembly-map .service-unit, 
.webassembly-map .connector{ 
	border:3px solid #fff;
	box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius:0.5em !important;
	border-radius:0.5em !important;
	opacity:0.8;
	filter:alpha(opacity=80);

	text-align:center;
	z-index:20;
	position:absolute;
	font-family:helvetica;padding:0.5em;
	font-size:0.7em;
  background-color: #F7F7F7
}

.webassembly-map .bpel{
	background-color:#eeeeef;
	color:black;
}
.webassembly-map .connector{ 
	background-color:#F3F3F3;
	color:#474646;
}

.webassembly-map .connector.sun-database-binding{ 
}
.webassembly-map .connector.sun-email-binding{ 
}
.webassembly-map .connector.sun-file-binding{ 
}
.webassembly-map .connector.sun-ftp-binding{ 
}
.webassembly-map .connector.sun-http-binding{ 
}
.webassembly-map .connector.sun-jms-binding{ 
}
.webassembly-map .connector.sun-ldap-binding{ 
}
.webassembly-map .connector.sun-rest-binding{ 
}
.webassembly-map .connector.sun-scheduler-binding{ 
}
.webassembly-map .connector.sun-bpel-engine{ 
}
.webassembly-map .connector.sun-iep-engine{ 
}
.webassembly-map .connector.sun-javaee-engine{ 
}
.webassembly-map .connector.sun-pojo-engine{ 
}
.webassembly-map .connector.sun-xslt-engine{ 
}


.service-unit-label{
  font-size: 15px;
  color: rgb(96, 96, 96);
  margin: 5px 0px;
  font-weight: normal;
}





.webassembly-map .service-unit:hover,
.webassembly-map .connector:hover {
	box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
	filter:alpha(opacity=60);
}

.webassembly-map .connector:hover {
  background-color: #FFC3C3;
  color:#000;
}

.webassembly-map .connector:hover .connector-icon{
  background-color: #F7252E;

}



.webassembly-map ._jsPlumb_connector { z-index:4; }
.webassembly-map ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:21;cursor:pointer; }

.webassembly-map .aLabel {
 	background-color:white; 
	padding:0.4em; 
	font:12px sans-serif; 
	color:#444;
	z-index:21;
	border:1px dotted gray;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor: pointer;
}
.webassembly-map .aLabel._jsPlumb_hover {
	background-color:#5C96BC;
	color:white;	
	border:1px solid white;
}

.connector{
}

.connector span{
	line-height: normal;
	vertical-align: middle;	
}

.connector-icon{
	width:25px;
	height:20px;
	display: inline-block;
	margin: 0px 5px 0px 0px;
	font-size: 0.90em;
	background-color: #f3565d;
	border-radius: 10px !important;
  color:white;
  padding:0 2px 0 2px
}

.logo{
  color: white;
  display: block;
  height: 100%;
  float: left;
  margin: auto;
  vertical-align: middle;
  font-family: helvetica;
  margin: 10px 20px;
  /*margin-left: 20px;*/
  font-weight: 100;
}

.map-loader{
    background-color: #f9f9f9;
   /* -moz-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
    -moz-transform-origin: 25% 30%;
    transform-origin: 25% 30%;*/
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index: 150;
    left: 0;
    top: 0;
    margin: 0;
    /*opacity: 0.8;*/
 
}







.map-loader i {
  /*float:left;*/
  position: relative;
  top: 50%;
  left: 30%;

  text-align:center;
  font-size: 5em;
  margin:0 5em; 
  -webkit-animation:load 1.337s infinite ease-out reverse;
  animation:load 1.337s infinite ease-out reverse;
}


@-webkit-keyframes load {
  0% {
    transform: rotate(0) scale(1, 1);
    -webkit-transform: rotate(0) scale(1, 1);
    color:rgba(0, 0, 0, .5);
  }
  10% { color:rgba(0, 0, 0, .5); }
  20% { color:rgba(10, 10, 10, .5); }
  30% { color:rgba(20, 20, 20, .5); }
  40% { color:rgba(20, 20, 30, .5); }
  50% {
    transform: rotate(180deg) scale(1.85, 1.85);
    -webkit-transform: rotate(180deg) scale(1.85, 1.85);
    color:rgba(150, 0, 0, .5);
  }
  100% {
    transform: rotate(360deg) scale(1, 1); 
    -webkit-transform: rotate(360deg) scale(1, 1); 
    color:rgba(0, 0, 0, .5);
  }
}
