<div class="row">
    <div class="col-md-12">
        <h4>Shared Libraries used by this component</h4>
        <p class="text-muted"><small>View installed Shared Libraries required by this component.</small></p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison" ng-show="component.sharedLibraries.length > 0">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>
                    Shared Libraries&nbsp; <span class="badge badge-info">{{component.sharedLibraries.length}}</span>
                </div>
            </div>

            <div class="portlet-body">
                <table class="table table-condensed table-striped table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="library in component.sharedLibraries">
                        <td><a href="#/libraries/{{library}}">{{library}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="alert alert-info" ng-show="component.sharedLibraries.length === 0">
            <h5><i class="fa fa-ban"></i> No shared library is required by this component.</h5>
        </div>
    </div>
</div>