<div class="row">
    <div class="col-md-12">
        <h4>Binding Component General Properties</h4>
        <p class="text-muted"><small>View the details for this Java Business Integration Binding Component.</small></p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-8">
        <blockquote>
            <p>Description</p>
        </blockquote>

        <address>
            <div class="row">
                <div class="col-md-4"><strong>Name:</strong></div>
                <div class="col-md-5">{{component.name}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>Type:</strong></div>
                <div class="col-md-5">{{component.type}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>Description:</strong></div>
                <div class="col-md-5">{{component.description}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>Version:</strong></div>
                <div class="col-md-5">{{component.version}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>Build Number:</strong></div>
                <div class="col-md-5">{{component.buildNumber}}</div>
            </div>
        </address>
    </div>

    <div class="col-md-4">
        <blockquote>
            <p>Operation</p>
        </blockquote>

        <address>
            <div class="row">
                <div class="col-md-3"><strong>State:</strong></div>
                <div class="col-md-9"><jbi-state state="component.state"></jbi-state></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3"><strong>Actions:</strong></div>
                <div class="col-md-9">
                    <!--<jbi-actions component="component"/>-->
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" ng-class="{ disabled: component.state == 'STARTED'}" ng-click="start()" ng-disabled="username==='roUser'">Start</button>
                        <button class="btn btn-primary btn-sm" ng-class="{ disabled: component.state == 'STOPPED' || component.state == 'SHUTDOWN' }" ng-click="stop()" ng-disabled="username==='roUser'">Stop</button>
                        <button class="btn btn-primary btn-sm" ng-class="{ disabled: component.state == 'SHUTDOWN'}" ng-click="shutdown()" ng-disabled="username==='roUser'">Shutdown</button>
                        <button class="btn btn-danger btn-sm" ng-class="{ disabled: component.state != 'SHUTDOWN'}" ng-click="delete()" ng-disabled="username==='roUser'">Delete</button>
                    </div>
                </div>
            </div>
        </address>
    </div>
</div>

<br />

<div class="row" data-ng-show="component.serviceUnits">
    <div class="col-md-12">
        <blockquote>
            <p>Service Units</p>
        </blockquote>

        <table class="table table-condensed table-striped table-responsive table-hover" ng-show="component.serviceUnits.length > 0">
            <thead>
                <tr>
                    <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                    <th><a href="" ng-click="predicate = 'state'; reverse=!reverse">State</a></th>
                    <th><a href="" ng-click="predicate = 'serviceAssembly'; reverse=!reverse">Service Assembly</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="serviceUnit in component.serviceUnits | filter:query | orderBy:predicate:reverse">
                    <td><a href="#/components/{{component.name}}/units/{{serviceUnit.name}}">{{serviceUnit.name}}</a></td>
                    <td><jbi-state state="serviceUnit.state"></jbi-state></td>
                    <td><a href="#/assemblies/{{serviceUnit.serviceAssembly}}">{{serviceUnit.serviceAssembly}}</a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
