<div class="col-md-8 form">
    <form name="myForm" class="form-horizontal" action="#" role="form" novalidate>
        <div class="form-body">
            <fieldset ng-repeat="group in form.form_groups">
                <h4 class="form-section">{{group.group_title}} <small>{{group.group_description}}</small></h4>
                <div ng-repeat="field in group.form_fields">
                    <field-directive field="field" />
                </div>
            </fieldset>
        </div>

        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <button type="button" class="btn btn-primary" ng-disabled="!saveEnabled || !myForm.$valid || username==='roUser'" ng-click="submit()">Save</button>
            </div>
        </div>
    </form>
</div>