<div class="row margin-bottom-20">
    <div class="col-md-12">
        <h3 class="page-title">OpenESB Web Console</h3>
        <h5>You're running on the following instance: <strong>{{informations.instanceName}} ({{informations.majorVersion}}.{{informations.minorVersion}}</strong>)</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-home"></i>Overview
                </div>
            </div>
            <div class="portlet-body">
                <div class="body">
                    <ul class="server-stats">
                        <li>
                            <strong>PID:</strong> {{jvm['name']}}
                        </li>
                        <li>
                            <strong>Host:</strong> localhost
                        </li>
                        <li>
                            <strong>JVM:</strong> {{jvm['vm.name']}} ({{jvm['vm.version']}})
                        </li>
                        <li>
                            <strong>Java:</strong> version {{jvm['system.properties']['java.version']}}, vendor {{jvm['system.properties']['java.vm.vendor']}}
                        </li>
                        <li>
                            <strong>Java Home:</strong> {{jvm['system.properties']['java.home']}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart-o"></i>Memory
                </div>
            </div>
            <div class="portlet-body">
                <div class="key pull-right">Total Memory</div>
                <div class="stat">
                    <div class="info">{{memory['total.used'].value * 100 / memory['total.max'].value | number:0}}% ({{memory['total.used'].value / 1000000 | number:0}}M / {{memory['total.max'].value / 1000000 | number:0}}M)</div>

                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar" role="progressbar"
                             aria-valuenow="{{memory['total.used'].value / 1000000 | number:0}}"
                             aria-valuemin="0"
                             aria-valuemax="{{memory['total.max'].value / 1000000 | number:0}}"
                             style="width: {{memory['total.used'].value * 100 / memory['total.max'].value  | number:0}}%">
                        </div>
                    </div>
                </div>

                <div class="key pull-right">Heap Memory</div>
                <div class="stat">
                    <div class="info">{{(memory['heap.usage'].value * 100 | number:0)}}% ({{memory['heap.used'].value / 1000000 | number:0}}M / {{memory['heap.max'].value / 1000000 | number:0}}M)</div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="{{memory['heap.used'].value / 1000000 | number:0}}"
                             aria-valuemin="0"
                             aria-valuemax="{{memory['heap.max'].value / 1000000 | number:0}}"
                             style="width: {{memory['heap.usage'].value * 100 | number:0}}%">
                        </div>
                    </div>
                </div>

                <div class="key pull-right">Non-Heap Memory</div>
                <div class="stat" ng-show="jvm['system.properties']['java.version'].indexOf('1.8') == -1">
                    <div class="info">{{(memory['non-heap.usage'].value * 100 | number:0)}}% ({{memory['non-heap.used'].value / 1000000 | number:0}}M / {{memory['non-heap.max'].value / 1000000 | number:0}}M)</div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="{{memory['non-heap.used'].value / 1000000 | number:0}}"
                             aria-valuemin="0"
                             aria-valuemax="{{memory['non-heap.max'].value / 1000000 | number:0}}"
                             ng-style="{width: (memory['non-heap.usage'].value * 100 | number:0) + '%'}">
                        </div>
                    </div>
                </div>

                <div class="stat" ng-show="jvm['system.properties']['java.version'].indexOf('1.8') != -1">
                  <div class="info">{{(memory['non-heap.used'].value * 100 / memory['non-heap.committed'].value | number:0)}}% ({{memory['non-heap.used'].value / 1000000 | number:0}}M / {{memory['non-heap.committed'].value / 1000000 | number:0}}M)</div>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{memory['non-heap.used'].value / 1000000 | number:0}}"
                         aria-valuemin="0"
                         aria-valuemax="{{memory['non-heap.committed'].value / 1000000 | number:0}}"
                         ng-style="{width: (memory['non-heap.committed'].value / 1000000 | number:0) + '%'}">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-list"></i>
            </div>
            <div class="details">
                <div class="number">{{assembliesCount}}</div>
                <div class="desc">Service Assemblies</div>
            </div>
            <a class="more" href="#/assemblies">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-cogs"></i>
            </div>
            <div class="details">
                <div class="number">{{componentsCount}}</div>
                <div class="desc">Components</div>
            </div>
            <a class="more" href="#/components">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-book"></i>
            </div>
            <div class="details">
                <div class="number">{{librariesCount}}</div>
                <div class="desc">Shared Libraries</div>
            </div>
            <a class="more" href="#/libraries">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
  <!--
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-crosshairs"></i>
            </div>
            <div class="details">
                <div class="number">{{endpointsCount}}</div>
                <div class="desc">Endpoints</div>
            </div>
            <a class="more" href="#/endpoints">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    -->
</div>
