
        <div class="login">

            <div class="logo">
                <h4>OpenESB Web Console</h4>
            </div>

            <div class="content">
                <!-- BEGIN LOGIN FORM -->
                <form name="loginForm" class="login-form" novalidate role="form">
                    <h3 class="form-title">Login</h3>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Username</label>
                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            <input class="form-control placeholder-no-fix" type="text" placeholder="Username" name="username"
                                   data-ng-model="username" id="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd" class="control-label visible-ie8 visible-ie9">Password</label>
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <input class="form-control placeholder-no-fix" id="pwd" type="password" placeholder="Password" name="password"
                                   data-ng-model="password">
                        </div>
                    </div>
                    <div class="form-actions">
                        <!--label class="checkbox">
                            <div class="checker"><span><input type="checkbox" name="remember" value="1"></span></div> Remember me </label-->
                        <button ng-click="login(loginForm)" class="btn green pull-right">
                            Login <i class="m-icon-swapright m-icon-white"></i>
                        </button>
                    </div>

                    <br />

                    <div class="form-group alert alert-danger" ng-show="authenticationError">
                        <strong>Authentication failed!</strong> Please check your credentials and try again.
                    </div>
                </form>
            </div>
        </div>
