<div class="row">
    <div class="col-md-12">
        <h4>Service Assembly Statistics</h4>
        <p class="text-muted"><small>View the statistics for this Service Assembly.</small></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <address>
            <div class="row">
                <div class="col-md-4"><strong>Last startup time:</strong></div>
                <div class="col-md-5">{{startupTime}}</div>
            </div>
            <div class="row" data-ng-if="assembly.state === 'STARTED'">
                <div class="col-md-4"><strong>Uptime:</strong></div>
                <div class="col-md-5">{{uptime._data.days}}d {{uptime._data.hours}}h {{uptime._data.minutes}}m {{uptime._data.seconds}}s</div>
            </div>
            <div class="row" data-ng-if="assembly.state === 'STARTED'">
                <div class="col-md-4"><strong>Startup time:</strong></div>
                <div class="col-md-5">{{startup._data.seconds}}s {{startup._data.milliseconds}}ms</div>
            </div>
        </address>
    </div>
</div>