<div class="row">
    <div class="col-md-12">
        <h4>Service Assembly General Properties</h4>
        <p class="text-muted"><small>View the details for this Java Business Integration Service Assembly.</small></p>
    </div>
</div>

<div class="row">
    <br />
    <div class="col-md-8">
        <blockquote>
            <p>Description</p>
        </blockquote>

        <address>
            <div class="row">
                <div class="col-md-3"><strong>Name:</strong></div>
                <div class="col-md-9">{{assembly.name}}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Description:</strong></div>
                <div class="col-md-9">{{assembly.description}}</div>
            </div>
        </address>
    </div>

    <div class="col-md-4">
        <blockquote>
            <p>Operation</p>
        </blockquote>

        <address>
            <div class="row">
                <div class="col-md-3"><strong>State:</strong></div>
                <div class="col-md-9"><jbi-state state="assembly.state"/></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3"><strong>Actions:</strong></div>
                <div class="col-md-9">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" ng-class="{ disabled: assembly.state == 'STARTED'}" ng-click="start()" ng-disabled="" ng-disabled="username==='roUser'>Start</button>
                        <button class="btn btn-primary btn-sm" ng-class="{ disabled: assembly.state == 'STOPPED' || assembly.state == 'SHUTDOWN' }" ng-click="stop()" ng-disabled="username==='roUser'>Stop</button>
                        <button class="btn btn-primary btn-sm" ng-class="{ disabled: assembly.state == 'STOPPED' || assembly.state == 'SHUTDOWN'}" ng-click="shutdown()" ng-disabled="username==='roUser'>Shutdown</button>
                        <button class="btn btn-danger btn-sm" ng-class="{ disabled: assembly.state != 'SHUTDOWN'}" ng-click="delete()" ng-disabled="username==='roUser'>Delete</button>
                    </div>
                </div>
            </div>
        </address>
    </div>
</div>

<div class="alert alert-warning" data-ng-show="errors">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
        <li data-ng-repeat="error in errors"><strong>{{error.component}}:</strong> {{error.result.errorMsg[0]}}</li>
    </ul>
</div>

<br />

<blockquote>
    <p>Service Units &nbsp; <span class="badge badge-info">{{assembly.serviceUnits.length}}</span></p>
</blockquote>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>State</th>
        <th>Description</th>
        <th>Target</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="unit in assembly.serviceUnits">
        <td><a href="#/assemblies/{{assembly.name}}/units/{{unit.name}}">{{unit.name}}</a></td>
        <td><jbi-state state="unit.state"/></td>
        <td>{{unit.description}}</td>
        <td><a href="#/components/{{unit.target}}">{{unit.target}}</a></td>
    </tr>
    </tbody>
</table>
</div>
