<div class="row">
    <div class="col-md-12">
        <h4>Service Assembly Descriptor</h4>
        <p class="text-muted"><small>View JBI archive metadata 'jbi.xml' contents.</small></p>
    </div>
</div>

<br />

<div class="row">
	<div class="col-md-12">
		<pre class="prettyprint">
		  <code class="language-xml">{{descriptor}}</code>
		</pre>
	</div>
</div>