<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="#/assemblies"><i class="fa fa-list"></i> Service Assemblies</a></li>
            <li class="active">{{assembly.name}}</li>
        </ul>

        <h3 class="page-title">
            {{assembly.name}} &nbsp;<jbi-state state="assembly.state"></jbi-state>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="note note-danger" ng-show="error">
            <h4 class="block">Unable to retrieve information for service assembly <strong>{{assembly.name}}</strong></h4>
            <p>{{error}}</p>
        </div>

        <div class="tabbable-custom" ng-show="!error">
            <ul class="nav nav-tabs">
                <li ng-class="getTabClass('general')"><a href="#/assemblies/{{assembly.name}}/general">General</a></li>
                <li ng-class="getTabClass('descriptor')"><a href="#/assemblies/{{assembly.name}}/descriptor">Descriptor</a></li>
                <!--<li ng-class="getTabClass('view')"><a href="#/assemblies/{{assembly.name}}/view">View</a></li>-->
                <li ng-class="getTabClass('monitoring')"><a href="#/assemblies/{{assembly.name}}/monitoring">Monitoring</a></li>
            </ul>

            <div class="body tab-content" data-ui-view />
        </div>
    </div>
</div>
